@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:ital,wght@1,100&display=swap');

:root {
    --primary-color: #0064EB;
    --secondary-color: #808080;
    --black: #000000;
    --background: #F9F9F9;
    --fonts: 'Inter', sans-serif;
}

body {
    font-family: var(--fonts);
    font-size: 16px;
    background-color: var(--background);
}

